## 7. Observations

- Features such as **studytime**, **failures**, **G1**, and **G2** are expected to strongly correlate with `G3` (final grade).  
- Distributions show that most students cluster around mid-grade values.  
- Correlation heatmaps highlight which predictors are most useful for modeling.

In [6]:
plot_correlation_heatmap(mat, dataset_name="math")
plot_correlation_heatmap(por, dataset_name="portuguese")
print("✅ Saved correlation heatmaps to results/figures/")

✅ Saved correlation heatmaps to results/figures/

## 6. Correlation Heatmaps

In [7]:
plot_distributions(mat, dataset_name="math")
plot_distributions(por, dataset_name="portuguese")
print("✅ Saved histograms to results/figures/")

✅ Saved histograms to results/figures/

## 5. Distributions of Numeric Features

In [8]:
print("Total missing values (Math):", mat.isnull().sum().sum())
print("Total missing values (Portuguese):", por.isnull().sum().sum())

Total missing values (Math): 0
Total missing values (Portuguese): 0

## 4. Missing Values Check

In [12]:
# Math dataset summary
print("### Math Dataset")
summarize_dataset(mat)

# Portuguese dataset summary
print("\n### Portuguese Dataset")
summarize_dataset(por)

### Math Dataset
=== Dataset Summary ===
Shape: (395, 33)

Column Types:
 school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

Missing Values per Column:
 school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

First 5 rows:
   school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

### Portuguese Dataset
=== Dataset Summary ===
Shape: (649, 33)

Column Types:
 school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

Missing Values per Column:
 school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

First 5 rows:
   school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13

[5 rows x 33 columns]

## 3. Summary Statistics

In [10]:
# Load both datasets (math and portuguese)
mat, por = load_data()

print("Math dataset shape:", mat.shape)
print("Portuguese dataset shape:", por.shape)

2025-09-20 10:27:36,497 [INFO] Math dataset loaded successfully with shape (395, 33)
2025-09-20 10:27:36,498 [INFO] Portuguese dataset loaded successfully with shape (649, 33)
Math dataset shape: (395, 33)
Portuguese dataset shape: (649, 33)

## 2. Load Data

In [11]:
# 1. Setup
import os
import sys
import pandas as pd

# Add ../src to Python path (so Jupyter can find your project modules)
sys.path.append(os.path.abspath(os.path.join("..", "src")))

# Now you can import from your src/ folder
from data_loader import load_data
from eda import summarize_dataset, plot_distributions, plot_correlation_heatmap

# 01 Data Exploration

This notebook performs exploratory data analysis (EDA) on the UCI Student Performance datasets (`student-mat.csv` and `student-por.csv`).  
We explore dataset structure, missing values, distributions, and correlations.